.navbar{
    background: lightpink;
    padding: 0.5em;
    border: 2px solid lightpink;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.nav-link{
    background: hotpink;
    color:white;
    font-size: 1.6em;
    margin: 1em 0.6em;
    padding: 0.25em 1em;
    border: 2px solid lightpink;
    border-radius: 7px;
    text-decoration: none;

}

.navbarContent{
    max-width:780px;
}

.nav-item-add{
    display: inline-block;
}

.nav-item-todos{
    display: inline-block;
}

.nav-item-search{
    display: inline-block;
}

.nav-item-filter-by-date{
    display: inline-block;
}