.navbar{
    background: lightpink;
    padding: 0.5em;
    border: 2px solid lightpink;
    border-radius: 12px;
}

.nav-link{
    background: hotpink;
    color:white;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid lightpink;
    border-radius: 7px;
    text-decoration: none;

}

.nav-item-add{
    display: inline-block;
}

.nav-item-todos{
    display: inline-block;
}