.speech-bubble {
    background-image: radial-gradient(white, #fff9b4);
    border:solid 2px #000;
    border-radius:3em;
    display:inline-block;
    margin: 2em;
    padding:.5em 1em;
    position:relative;
    max-width: 600px;
}

.speech-bubble:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    left:44px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
}

.speech-bubble:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff9b4;
    border-top:solid 10px #fff9b4;
    bottom:-19px;
    content:"";
    height:0;
    left:47px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
}

.plusSign{
    margin:3em;
    cursor: pointer;
}

.todoListContainer{
    max-width:1200px;
}

.task {
    margin: 10px;
    cursor: pointer;
}

.title {
    font-style: italic;
    margin: 10px;
    font-size: 1.8em;
    cursor: pointer;
}

.finished {
    text-decoration: line-through;
}

.dueDate{
    margin: 10px;
    text-align: right;
}

.dateOfCreation{
    margin: 10px;
    font-size:0.8em;
    text-align: right;
}

.dateOfCompletion{
    margin: 10px;
    font-size:0.8em;
    text-align: right;
}

.priority{
    margin: 10px;
    text-align: right;
}

.deleteButton{
    background: hotpink;
    color:white;
    font-size: 1em;
    margin: 0.6em;
    padding: 0.25em 1em;
    border: 2px solid lightpink;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.badge {
    margin: 0.3em;
    max-width: 2em;
}
