.task {
    margin: 10px;
    cursor: pointer;
}

.title {
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;

}

.finished {
    text-decoration: line-through;
}

.dueDate{
    margin: 10px;

}

.dateOfCreation{
    margin: 10px;

}

.todoContainer{
    border: 2px solid lightpink;
    padding: 0.25em 1em;
border-radius: 7px;
}

